#include "ExtractPathDialogRes.h"
#include "../../GuiCommon.rc"

#define ph 14

#define xc 220
//287
#define yc (m + ph + 2 + 8 + 2 + 8 + 2 + bys + 2 + m)

#define y 40

IDD_EXTRACT_PATH  DIALOG  0, 0, xs, ys  MY_MODAL_RESIZE_DIALOG_STYLE  MY_FONT
CAPTION "ExtractPath"
{
  LTEXT       "",    IDT_EXTRACT_PATH_PROMPT, m, m, xc, ph
  LTEXT       "",    IDT_EXTRACT_PATH_EXTRA_TEXT, m, m + ph, xc, 8
  LTEXT       "",    IDT_EXTRACT_PATH, m, m + ph + 2 + 8 + 2, xc, 8
  EDITTEXT           IDC_EXTRACT_PATH, m, m + ph + 2 + 8 + 2 + 8 + 2, xc - bxsDots - m, 14
  PUSHBUTTON  "...", IDB_EXTRACT_PATH_SET_PATH, xs - m - bxsDots, m + ph + 2 + 8 + 2 + 8 + 2, bxsDots, bys, WS_GROUP
  OK_CANCEL
}

#undef xc
#undef yc
